<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870075753359-c3t42l0h8epeea1muvhcdhekppkplag0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870075753359-c3t42l0h8epeea1muvhcdhekppkplag0</string>
	<key>API_KEY</key>
	<string>AIzaSyAxKCoVEfYZq57racK9raVxgFacHAwTMx4</string>
	<key>GCM_SENDER_ID</key>
	<string>870075753359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.app</string>
	<key>PROJECT_ID</key>
	<string>mtaa-7760f</string>
	<key>STORAGE_BUCKET</key>
	<string>mtaa-7760f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870075753359:ios:ca14c1d685fe5efa7e21fa</string>
</dict>
</plist>